
.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: blanchedalmond;
}

.login-form, .register-form {
  background-color: #fff; 
  padding: 20px;
  border-radius: 8px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  width: 100%;
  max-width: 600px; 
  height: 400px;

.form-label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
  font-size:medium;
  color: black;
}

.form-input {
  width: 100%; 
  padding: 8px;
  margin-bottom: 16px; 
  border: 1px solid green; 
  border-radius: 4px; 
  box-sizing: border-box; 
}

.form-input:focus {
  outline: none; 
}

.form-button {
  width: 100%; 
  margin: 5px;
  padding: 10px;
  background: linear-gradient(to right, black, black); 
  color: #fff; 
  border: none;
  border-radius: 4px; 
  font-size: 16px;
  cursor: pointer; 
  transition: background-color 0.3s ease; 
}

.form-button:hover {
  background-color: red; 
}

.form-title {
  text-align: center;
  margin-bottom: 20px;
  font-size: 40px;
  background: linear-gradient(to right, black, black);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* Spinner */
#loading-spinner{
  display: flex;
  justify-content: center;
  align-items: center; 
  margin: auto;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.187);
  border: none;
}

.spinner {
  border: 8px solid #f3f3f3;
  border-radius: 50%;
  border-top: 8px solid red;
  width: 50px; height: 50px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}}